<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 打包配置 -->
    <add key="Configuration" value="Release" />
    <!-- dotnet pack 附加配置除 -o -c 以外 -->
    <add key="AdditionalOptions" value="" />

    <!-- Nuget服务器配置 -->
    <add key="Source" value="" />
    <add key="ApiKey" value="" />
  </appSettings>
</configuration>